body {
  background-color: #121415;
}
.sq:active {
  cursor: default !important;
}

.gridWrapper {
  margin-top: 3% !important;
  margin-left: 5% !important;
}

.navLink {
  color: white !important;
}
.navHeader {
  color: white !important;
  cursor: pointer;
}
.navHeader:hover {
  color: #c2c2c2 !important;
}

.navLink:hover {
  color: #c59a9a !important;
  opacity: 0.9;
}

.start-btn {
  float: left;
}
.random-btn {
  float: left;
}
.numberInput {
  width: 15% !important;
  height: 10% !important;
}
#speedInput {
  margin-left: 2%;
  margin-top: 0.7%;
}
.Label {
  cursor: default;
  color: white !important;
}
