body {
  background-color: #121415;
}
.sq:active {
  cursor: default !important;
}

.gridWrapper {
  margin-top: 3% !important;
  margin-left: 5% !important;
}

.navLink,
.navHeader {
  color: white !important;
}

.navLink:hover {
  /* background-color: #272c30; */
  color: #9ab1c5 !important;
  opacity: 0.9;
}

.start-btn {
  float: left;
}
.random-btn {
  float: left;
}
.clear-btn {
  /* float: left; */
}
